/* Write your CSS here. */

body {
  zoom: 0.75;
}

.wgs {
  display: inline-block;
  height: 241px;
  position: relative;
  width: 320px;
  overflow: hidden;
}

.wgs__mole-head {
  height: 178px;
  position: absolute;
  width: 188px;
  left: 55px;
  transition-property: margin-top;
  transition-duration: 0.25s;
}

.wgs__dirt-pile {
  height: 110px;
  position: absolute;
  width: 320px;
  bottom: 0;
  right: 0;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}

.pf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.won {
  font-size: 2em;
  text-align: center;
}